namespace COMP003B.LectureActivity3.Views.Store
{
    public class ViewProduct
    {
        @{
    ViewData["Title"] = "Store - View Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
        }

        @model int

        <h2>Product Detail</h2>
        <p>You are viewing product with ID: <strong>@Model</strong></p>
    }
}
